/**
 * @author Script47 (https://github.com/Script47/Toast)
 * @description Toast - A Bootstrap 4.2+ jQuery plugin for the toast component
 * @version 1.2.0
 **/
.toast-container {
  position: fixed;
  z-index: 1055;
  margin: 16px 10px 0 0;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}

.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-left {
  left: 0;
  bottom: 0;
}

.bottom-center {
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}

.toast-container > .toast {
  min-width: 150px;
  max-width: 430px;
  background: transparent;
  border: none;
}

.toast-container > .toast > .toast-header {
  border: none;
  padding: 0.1rem 0.5rem;
}

.toast-container > .toast > .toast-header strong {
  padding-right: 20px;
}

.toast-container > .toast > .toast-body {
  background: white;
}

.toast-container > .toast > .toast-body > button {
  border: none;
  background: none;
}

.toast-container > .toast > .bg-success {
  background-color: #4ca154 !important;
}

.toast-container > .toast > .toast__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.toast-container > .toast > .toast__message {
  flex: 1 1 auto;
  overflow: hidden;
}

.toast-container > .toast > .toast__close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
